

<h2 class="medium-title">Password Reminder </h2>
<p>
    Enter your email and click on the 'Send link' button then a password reminder link will be sent to your email address if it has been already registered
    with us.
</p>
<!-- Form -->
<form class="login-form" role="form" method="post">
    <div class="form-group">
        <input type="email" class="form-control" name="Email" placeholder="Email">
    </div>
    
    <button type="submit" class="btn btn-common">Send link</button>
</form>
