@using elearning.model.ViewModels
@using elearning.admin.Helpers

@model elearning.model.ViewModels.CourseEditVm

<h2 class="medium-title">Course Create</h2>
<!-- Form -->

@{ 
    var crumb = new List<Crumb>{
        new Crumb{Name = "Courses", Label = "Course", Title="View courses", Url ="/course" },
        new Crumb{Name = "CourseCreate", Title="This is current page", Label = "Course Create"}
    };

}

    @section HeaderScripts{
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/summernote/summernote.css" rel="stylesheet">
}

@section breadcrumb{
    @Html.MakeBreadCrumb(crumb)
}

<div class="form-group">
    @Html.Partial("_FileUpload", Model.FileModel)
</div>

@Html.Partial("Forms/_CourseEdit")


@section BottomScripts{

    <script src="~/scripts/htmleditor/summernote/summernote.min.js"></script>

    <script>
        var MaxFileUpload = @Model.FileModel.MaxFileUpload;
        var YoutubePreviewId = "youtubepreview";
        var YoutubeSourceCtrlId = "YoutubeLink";
    </script>

    <script src="~/scripts/site/course.js"></script>
}