
@model elearning.model.ViewModels.CourseEditVm

<h1>Breadcrumb needed............</h1>

<h2 class="medium-title">Course Create</h2>
<!-- Form -->

@section HeaderScripts{
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/summernote/summernote.css" rel="stylesheet">
}

<div class="form-group">
    @Html.Partial("_FileUpload", Model.FileModel)
</div>

@Html.Partial("Forms/_CourseEdit")


@section BottomScripts{

    <script src="~/scripts/htmleditor/summernote/summernote.min.js"></script>

    <script>
        var MaxFileUpload = @Model.FileModel.MaxFileUpload;
        var YoutubePreviewId = "youtubepreview";
        var YoutubeSourceCtrlId = "YoutubeLink";
    </script>
   
    <script src="~/scripts/site/course.js"></script>
}