@{

}

<h1>Editor Home</h1>

<p>
    Welcome to the Code Editor. Click on the button below to start editing your code.<br/>
    Make sure popups are enabled on your browser as editor opens up in new window.
</p>

<p>
    <button onclick="OpenEditor()">Open code editor</button>
</p>