<h2 class="medium-title">Add article category</h2>

<form class="register-form" role="form" method="post">
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <textarea class="form-control" placeholder="Your Massage" rows="9" required data-error="Write your message"></textarea>
            <div class="help-block with-errors"></div>
        </div>
    </div>
        <button class="btn btn-common" type="submit">Save</button>
</form>
