
<h2 class="medium-title">Article category list</h2>
<section class="activity-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">A powerhouse of cutting-edge <br>education, research & teaching in The World</h2>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="activity-item">
                    <div class="icon fast-color">
                        <i class="fa fa-flash"></i>
                    </div>
                    <h3>Short Courses</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed.</p>
                    <a class="btn btn-rm btn-common" href="courses-grid.html">Explore</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="activity-item active-item">
                    <div class="icon secend-color">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h3>Bachelor's Programs</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed.</p>
                    <a class="btn btn-rm btn-common" href="courses-grid.html">Explore</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="activity-item">
                    <div class="icon thred-color">
                        <i class="fa fa-flask"></i>
                    </div>
                    <h3>Masters and PHD Programs</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed.</p>
                    <a class="btn btn-rm btn-common" href="courses-grid.html">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>

