
@model elearning.model.ViewModels.EditArticleVm

@{ 
    var showFileUpload = (Model.MainImageLink == null || Model.MainImageLink == Guid.Empty);
    var mainImageHtml = (Model.MainImageLink != null && Model.MainImageLink.HasValue) ?
            "<img src=\"" + Model.MainImage.ImageUrl + "\" alt=\"" + Model.MainImage.Name + "\" />" : "";
}

<h2 class="medium-title">Edit Article</h2>

<!-- Form -->
@section HeaderScripts{
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/summernote/summernote.css" rel="stylesheet">
}

<div class="form-group" style="display:@(showFileUpload? "block" : "none")" >
    @Html.Partial("_FileUpload", Model.FileModel)
</div>

<div class="form-group" style="display:@(showFileUpload? "none" : "block")">
    @Html.Raw(mainImageHtml)
</div>

@Html.Partial("~/Views/Shared/Forms/_ArticleEdit.cshtml")


@section BottomScripts{
    <script src="~/scripts/htmleditor/summernote/summernote.min.js"></script>
    <script>
        var MaxFileUpload = @Model.FileModel.MaxFileUpload;
        var YoutubePreviewId = "youtubepreview";
        var YoutubeSourceCtrlId = "YoutubeLinks";
    </script>
    <!-- this must follow in this order -->
    <script src="~/scripts/site/article.js"></script>
}
