@using System.Diagnostics.PerformanceData
@using elearning.model.DataModels

@model IEnumerable<Course>

<section class="container">
    <div class="row active-with-click">
        @if (Model.Any())
        {
            foreach (var course in Model)
             {
                 <div class="col-md-4 col-sm-6 col-xs-12">
                     <article class="material-card Teal mc-active">
                         <h2>                            
                             <strong>
                                 <i class="fa fa-fw fa-star"></i>
                                 @course.Title
                             </strong>
                         </h2>
                         <div class="mc-content">
                             <div class="img-container">
                                 <img class="img-responsive" src="~/Content/img/courses/c-sharp.png">
                             </div>
                             <div class="mc-description">
                                @Html.Raw(course.ShortDescription)
                             </div>
                         </div>
                         <a class="mc-btn-action" href="~/course/details/@course.Id">
                             <i class="fa fa-edit"></i>
                         </a>
                         <div class="mc-footer">
                             <h4>
                                 @course.ChapterCount Chapter(s) - 
                                 @course.LessonCount  Lesson(s)
                             </h4>
                             
                         </div>
                     </article>
                 </div>
             }
        }

    </div>
</section>

<div class="read-btn">
    <br/>
    <a class="btn btn-common" href="/course/create">Create Course <i class="fa fa-angle-right"></i></a>
</div>