

<script src="/scripts/dropzone/dropzone.min.js"></script>
<link href="/scripts/dropzone/dropzone.min.css" rel="stylesheet" />

<div class="jumbotron">
    <form action="/File/UploadImageOnly" class="dropzone" id="dropzoneJsForm" style="background-color:#00BFFF">
        <input type="hidden" name="hdnUploadedIds" id="hdnUploadedIds" />
    </form>   
</div>


<script type="text/javascript">
   // var test;

   
</script>

