@model elearning.model.ViewModels.FileUploadVm

<script src="/scripts/dropzone/dropzone.min.js"></script>
<link href="/scripts/dropzone/dropzone.min.css" rel="stylesheet" />


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Upload Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.PopupTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="jumbotron">
                    <form action="/File/UploadImageOnly" class="dropzone" id="dropzoneJsForm" style="background-color:#00BFFF">
                        <input type="hidden" name="hdnUploadedIds" id="hdnUploadedIds" />
                        <input type="hidden" name="hdnImageUrl" id="hdnImageUrl" />
                        <input type="hidden" name="hdnImageName" id="hdnImageName" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSave" class="btn btn-primary">Finish</button>
            </div>
        </div>
    </div>
</div>






<!-- https://www.c-sharpcorner.com/article/asp-net-mvc-drag-drop-multiple-image-upload/ -->