@using System.Configuration

<footer>
   
    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <p class="copyright-text">
                        © All rights reserved 2018 - Design &amp; Developed by <a href="http://www.remotedevelopers.co.uk">Remotedevelopers.co.uk</a>
                    </p>
                </div>
                <div class="col-md-6  col-sm-6">
                    <div class="bottom-social-icons pull-right">
                        <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                        <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright  End-->

</footer>
