<div class="widget widget-categories">
    <h5 class="widget-title">Menu</h5>
    <ul class="cat-list">
        <li>
            <i class="fa fa-angle-right"></i><a href="/users">Users</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/articles">Articles</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/articlecategory">Articles Categories</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/courses">Courses</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/coursecategory">Courses Categories</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/tutors">Tutors</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/tests">Tests</a>
        </li>
    </ul>
</div>

<div class="widget widget-categories">
    <h5 class="widget-title">Recent Activities</h5>
    <ul class="cat-list">
        <li>
            <i class="fa fa-angle-right"></i><a href="/users">Recent Registrations (6)</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i><a href="/articles">Recent Courses Added (2)</a>
        </li>

    </ul>
</div>