<div class="blog-post">
    <!-- Post Content -->
    <div class="post-content">

        <p>
            You cannot view chapters directly from this page.
        </p>
        <p>
            Please choose a course to view all related chapters.
        </p>
        <p>
            <br />
            <a class="btn btn-common" href="/course">View Courses <i class="fa fa-angle-right"></i></a>
            <br />
        </p>
    </div>
    <!-- Post Content -->
    <!-- Read btn -->

</div>