@using elearning.model.DataModels

@model IEnumerable<CourseChapter>

@section HeaderScripts{
    @Html.Partial("_TableCSS")
}

<div class="blog-post">
    <!-- Post Content -->
    <div class="post-content">
        <h3 class="post-title">CourseChapters List</h3>
        <p>
            Find below a list of CourseChapters on the site.
        </p>
    </div>
    <!-- Post Content -->
    <!-- Read btn -->

    <div>
        @Html.Partial("~/Views/Shared/_CourseChapters.cshtml", Model)
    </div>
</div>

@section BottomScripts{
    @Html.Partial("_TableJS")
}
