@model elearning.model.ViewModels.ArticleCategoryVm

<h2 class="medium-title">Article Category Create</h2>
<!-- Form -->

@using (Html.BeginForm("Create", "ArticleCategory", FormMethod.Post, new { id = "frmACategory", name = "frmACategory" }))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Category Name" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Description" })
    </div>
    <button type="submit" class="btn btn-common">Create Category</button>

}

