
<div class="blog-post">
    <!-- Post Content -->
    <div class="post-content">
        <h3 class="post-title"><a href="single-post.html">Welcome to the Admin!</a></h3>        
        <p>
            Please choose an item from the menu on your left to start with.
        </p>
        <p>
            Some items like <a href="/coursecategories" title="Manage course categories">course categories</a> or <a href="/articlescategories" title="Manage article categories">article categories</a> will be found under the respective sections (courses and articles).
            <br/> You will need to drill down to be able to manage them or just click on the links on this page.
        </p>
    </div>
    <!-- Post Content -->
    <!-- Read btn -->
    
</div>