
@using elearning.Controllers;

<!-- Start Content Section -->
<section id="content" class="error-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="error-page generic-error">
                    <h1>Access Denied</h1>
                    <h2>Oops, you do not have access to the page you requested!</h2>
                    <p>Please contact our Admin Team for more details.</p>
                    <p>
                        @Html.Raw(BaseController.CompanySignatureHtml)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content Section  -->